<app-navbar></app-navbar>
<div class="wrap">
    <div id="contenido" class="container">
        <div class="profesores">
            <h1>Últimos videos</h1>
        <div class="cajaGrande">
                <div class="videos" style="display: flex;
                flex-flow: row; margin-left: -63%; "><!--NGfor -->
                    <div class="card"style="width: 5rem;" *ngFor="let video of videos" style="margin-right: 148%; text-align: center;">
                        <img class="card-img-top" [src]="video.thumbnails.high.url" style="width: 270%;" alt="Card image cap">
                        <div class="card-body" style="width: 250%;">
                          <h4 class="card-title" style="text-align: left;"><i class="icofont-retro-music-disk" style="margin-right: 1.5%; font-size:18px;"></i>{{video.title}}</h4>
                          <p class="card-text"style="text-align: left;">
                            <i class="icofont-user-male" style="margin-right: 1.5%;font-size:18px;" ></i>{{video.channelTitle}}
                          </p>
                          <p class="card-text" style="text-align: left;">
                            <i class="icofont-clock-time" style="margin-right: 1.5%;font-size:18px;"></i>{{video.publishedAt | date}}
                        </p>
                        <button *ngIf="auth.user | async as user;" routerLink="/viewvideo/{{video.resourceId.videoId}}" class="btn btn-outline-primary btn-block">
                              Ver video
                          </button>
                        </div>
                      </div>
                </div>
                </div>
            </div>
        </div>
    <div id="contenido" class="container">
        <div class="profesores">
            <h1>Profesores más vistos</h1>
            <div class="cajaGrande">
                <div class="profesor">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                </div>
                <div class="profesor">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                </div>
                <div class="profesor">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                </div>
                <div class="profesor">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                </div>
                <div class="profesor">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                </div>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>