<app-navbar></app-navbar>
<div class="wrap">
    <div id="menuLateral" class="barralateral">
        <ul class="ulItemsLateral">
            <li class="litemMenuLateral"><i class="icofont-home itemIconLateral"></i> <p class="itemInicio">Inicio</p></li>
            <li class="litemMenuLateral"><i class="icofont-favourite itemIconLateral"></i> <p class="itemInicio">Favoritos</p></li>
            <li class="litemMenuLateral"><i class="icofont-chat itemIconLateral" ></i> <p class="itemInicio">Mensajes</p></li>
            <li class="litemMenuLateral"><i class="icofont-live-support itemIconLateral"></i> <p class="itemInicio">Soporte</p></li>
        </ul>
    </div>
    <div id="contenido" class="container">
        <div class="profesores">
            <h1>Profesores más vistos</h1>
            <div class="cajaGrande">
                <div class="profesor">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                </div>
                <div class="profesor">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                </div>
                <div class="profesor">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                </div>
                <div class="profesor">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                </div>
                <div class="profesor">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                </div>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>