@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body {
    margin: 0 auto;
    font-family: 'Alata', sans-serif;
}
.wrap {
    position: relative;
}
.header {
    background: #fff;
    z-index: 1;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0px 0px 4px #7b7979;
    transition: all 1s;
}
.left {
    display: inline-block;
}
.right {
    display: inline-block;
    float: right;
    margin-right: 20px;
}
.medium {
    margin-left: 26%;
    display: inline-block;
    width: 315px;
}
.botonUserNavbar>i {
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    color: black;
}
.botonUserNavbar {
    text-decoration: none;
    margin-right: 10px;
}
.botonOptionNavbar {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}
@keyframes entradaOptions {
    from {
        opacity: 0;
        top: 5px;
    }
    to {
        opacity: 1;
        top: 25px;
    }
}
.ulInterno {
    display: none;
    position: absolute;
    background: #eae6e633;
    box-shadow: 1px 1px 4px #ccc;
    right: -4px;
    font-size: 15px;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    animation: entradaOptions 0.2s;
}
.botonBuscarLupa {
    border-right: 1px solid #cccccc78;
    padding: 1px;
}
.botonBuscarLupa>i {
    padding-left: 3px;
}
.inputBuscador {
    border: none;
    width: 80%;
}
.inputBuscador:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
.inputBuscador:hover{
    border: none;
    border-radius: 0;
}
.inputBuscador:focus:hover{
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
}
.search {
    border: 1px solid #cccccc78;
    border-radius: 2px;
    box-shadow: 3px 2px 2px #ccc;
}
.liInterno {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.LogoUnivalle {
    display: inline-block;
    margin: 0;
    font-family: 'Lobster', cursive;
    background: linear-gradient(45deg, #fb0808, #fefeff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.LogoMenuHamburguesa {
    font-size: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.LogoMenuHamburguesa:active>.barralateral {
    background: red;
}
@keyframes entradaMenu {
    from {
        width: 0px;
    }
    to {
        width: 50px;
    }
}
.barralateral {
    overflow-x: hidden;
    z-index: 0;
    float: left;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0px 0px 4px #7b7979;
    background: #fff;
    transition: all 1s;
    animation: entradaMenu 1s;
}
@keyframes entradaTexto {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes salidaTexto {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.itemInicio {
    position: absolute;
    margin: 0;
    color: white;
    display: inline-block;
    font-size: 18px;
    transition: all 1s;
    font-family: 'Alata', sans-serif;
}
.videoYouUltimos {
    width: 253px;
    height: 142px;
}
.container {
    padding-left: 60px;
    padding-top: 60px;
    transition: all 1s;
    display: flex;
    flex-flow: column nowrap;
}
.itemIconLateral {
    font-size: 25px;
}
.ulItemsLateral {
    padding: 0;
    margin: 0;
    margin-top: 50px;
}
.litemMenuLateral {
    list-style: none;
    height: 20px;
    margin: 0;
    padding: 10px;
    transition: all 1s;
}
/*Profesores mas vistos*/

.cajaGrande {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.profesor {
    width: 180px;
    padding: 20px;
}
.imagen {
    width: 100px;
    border-radius: 212px;
    padding: 15px;
}
.footer {
    background-color: rgb(209, 30, 36);
    color: white;
}
.divFooter {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 100px;
    padding-top: 20px;
}
.info {
    padding: 10px;
}

/* Gustavo */

.videos {
    width: 180px;
    padding: 20px;
    margin-right: 170px;
}

.contenedor-autor{
    display: flex;
    flex-flow: row;
    margin-left: -11%;
    margin-top: -20%;
    margin-bottom: -65%;
}
.imagen-autor {
    width: 35%;
    border-radius: 212px;
    padding: 15px;
}
.nombre-usuario{
    margin: auto;
}