 <app-navbar></app-navbar>
 <div class="wrap">
        <div id="menuLateral" class="barralateral">
            <ul class="ulItemsLateral">
                <li class="litemMenuLateral"><i class="icofont-home itemIconLateral"></i>
                    <p class="itemInicio">Inicio</p>
                </li>
                <li class="litemMenuLateral"><i class="icofont-favourite itemIconLateral"></i>
                    <p class="itemInicio">Favoritos</p>
                </li>
                <li class="litemMenuLateral"><i class="icofont-chat itemIconLateral"></i>
                    <p class="itemInicio">Mensajes</p>
                </li>
                <li class="litemMenuLateral"><i class="icofont-live-support itemIconLateral"></i>
                    <p class="itemInicio">Soporte</p>
                </li>
            </ul>
        </div>
        <div id="contenido" class="container">
            <div class="cajaGrande">
                <div class="canal">
                    <img class="imagen" src="assets/img/user.png" alt="">
                    <h2>Nombre Canal</h2>
                    <button id="suscribirse" type="button" class="btn btn-default">
                        <i class="icofont-user-alt-7"></i>
                        Suscribirse</button>
                </div>
                <div class="video">
                    <iframe width="460" height="315" src="https://www.youtube.com/embed/450p7goxZqg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="info-video">
                    <div class="titulo">
                        <h2>Titulo video</h2>
                        <h5>31/07/2020</h5>
                    </div>

                    <button id="material" type="button" class="btn btn-default">
                        <i class="icofont-ui-file"></i>
                        Material</button>
                    <div class="clearfix"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ratione quisquam pariatur molestias corporis, blanditiis rem placeat. Quam excepturi in qui vero dolores ut aperiam dolorum id mollitia, architecto natus quos maiores
                        soluta? Distinctio nemo reprehenderit explicabo libero.</p>
                </div>
            </div>
            <h2>Videos Relacionados</h2>
            <div class="videosRelacionados">
                <div class="videoR">
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/450p7goxZqg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Titulo del video</h3>
                    <img class="imagen2" src="assets/img/user.png" alt="">
                    <h4>Nombre Canal</h4>
                </div>
                <div class="videoR">
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/450p7goxZqg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Titulo del video</h3>
                    <img class="imagen2" src="assets/img/user.png" alt="">
                    <h4>Nombre Canal</h4>
                </div>
                <div class="videoR">
                    <iframe width="360" height="215" src="https://www.youtube.com/embed/450p7goxZqg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3>Titulo del video</h3>
                    <img class="imagen2" src="assets/img/user.png" alt="">
                    <h4>Nombre Canal</h4>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>