<header id="header" class="header">
    <div class="left">
        <a onclick="activarMenu()" id="logoHamburguesa" class="LogoMenuHamburguesa"><i class="icofont-navigation-menu"></i></a>
        <h2 class="LogoUnivalle">UnivalleGram</h2>
    </div>
    <div class="medium">
        <div class="search">
            <a class="botonBuscarLupa">
                <i class="icofont-ui-search"></i>
            </a>
            <input class="inputBuscador" type="text">
        </div>
    </div>
    <div class="right">
        <a  class="botonUserNavbar" >
            <i class="icofont-user"></i>
        </a>
        <a onclick="activarOptions()" class="botonOptionNavbar">
            <i class="icofont-settings"></i>
            <ul id="ulInternoId" class="ulInterno">
                <li class="liInterno">Configuraciones</li>
                <li class="liInterno">Cerrar sesion</li>
            </ul>
        </a>
    </div>
</header>