<header id="header" class="header">
    <div class="left">
        <a onclick="activarMenu()" id="logoHamburguesa" class="LogoMenuHamburguesa"><i class="icofont-navigation-menu"></i></a>
        <h2 class="LogoUnivalle">UnivalleGram</h2>
    </div>
    <div class="medium">
        <div class="search">
            <a class="botonBuscarLupa">
                <i class="icofont-ui-search"></i>
            </a>
            <input class="inputBuscador" type="text">
        </div>
    </div>
    
    <!-- Iniciado sesion -->
    <div class="right" *ngIf="auth.user | async as user; else showLogin">
        <a  class="botonUserNavbar" >
            <i class="icofont-user"></i>
        </a>
        <a onclick="activarOptions()" class="botonOptionNavbar">
            <i class="icofont-settings"></i>
            <ul id="ulInternoId" class="ulInterno">
                <h1></h1>
                <button (click)="logout()">Logout</button>
                <li class="liInterno">Configuraciones</li>
                <li class="liInterno">Cerrar sesion</li>
            </ul>
        </a>
        <li >Hello {{ user | json}}</li>!
    </div>
    <!-- No ha iniciado sesión  -->
    <ng-template #showLogin>
        <div class="right">
           <button (click)="login()" class="btn" >Iniciar sesión</button>
        </div>
    </ng-template>
   
</header>